{{page-title "FormPage"}}
<form>
    <legend class="mt-4">Application form</legend>
      <div class="mt-4 space-y-3">
        <div>
          <label class="form-label block font-medium" for="name">Full Name:</label>
          <input
            id="name"
            type="text"
            name="fullName"
            class="form-control border rounded"
            placeholder="Your full name"
            required
          />
        </div>

        <div>
          <label class="form-label block font-medium" for="email">Email Address:</label>
          <input
            id="email"
            type="email"
            name="email"
            class="form-control border rounded"
            placeholder="your@email.com"
            required
          />
        </div>

        <div>
          <label class="form-label block font-medium" for="mobile">Phone Number:</label>
          <input
            id="mobile"
            type="tel"
            name="phone"
            class="form-control border rounded"
            placeholder="10-digit mobile number"
            pattern="[0-9]{10}"
            required
          />
        </div>

        <div>
          <label class="form-label block font-medium" for="address">Address:</label>
          <textarea
            id="address"
            name="address"
            class="form-control border rounded"
            placeholder="Residential address"
            required
          ></textarea>
        </div>

        <div>
          <label class="form-label block font-medium" for="date of birth">Date of Birth:</label>
          <input
            id="date_of_birth"
            type="date"
            name="dob"
            class="form-control border rounded"
            required
          />
        </div>

        <div>
          <label class="form-label block font-medium" for="reason">Reason for Applying:</label>
          <textarea
            id="reason"
            name="reason"
            class="form-control border rounded px-3 py-2 w-full"
            placeholder="Explain why you are eligible and want to apply"
            required
          ></textarea>
        </div>
        
        <button
          type="submit"
          class=" px-4 py-2 rounded mt-4"
        >
          Apply Now
        </button>
      </div>
    </form>
{{outlet}}